.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper::before {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
  content: "";
  display: block;
  height: 188px;
  left: 0;
  position: absolute;
  transform: rotate(-180deg);
  top: 0;
  width: 100%;
  z-index: 9;
}



.swiper {
  height: 920px;
  margin: 0 40px;
}

.swiper::after {
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #fff);
  content: "";
  display: block;
  height: 188px;
  left: 0;
  position: absolute;
  transform: rotate(-180deg);
  bottom: 0;
  width: 100%;
  z-index: 9;
}